<div class="container" style="text-align: center; margin-top: 50px;">
  <h2><%= @list.name %></h2>
</div>
<br>
<div class="container" style="display: flex; justify-content: space-evenly;">
  <% @list.movies.each do |movie| %>
    <div class="card" style="width: 175px; flex-direction: column; padding: 10px; text-align: center;">
      <% movie.bookmarks.each do |bookmark| %>
        <% if bookmark.list_id == @list.id %>
          <% @bmark = bookmark.id %>
        <% end %>
      <% end %>
      <%= image_tag("#{movie.poster_url}", size: "150x200") %>
      <br>
      <h4><%= movie.title %></h4>
      <p><%= movie.overview %></p>
      <%= movie.rating %>
      <%= Bookmark.find(@bmark).comment %>
      <%= link_to "Remove from list", bookmark_path(@bmark), method: :delete, data: {:confirm => 'Are you sure?'} %>
    </div>
  <% end %>
</div>
<div class="container col-6">
  <h3>Add movie to list</h3>
  <%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.association :movie, include_blank: false %>
  <%= f.input :comment %>
  <%= f.submit %>
  <% end %>
</div>

<%= link_to "New bookmark", new_list_bookmark_path(@list) %>
<br>
<%= link_to "Back", lists_path %>
